In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')


*   To investigate the restaurant owners' claim about the increase in weekly operating costs using hypothesis testing.
*   Data Provided:
•	The theoretical weekly operating cost model: W = $1,000 + $5X
•	Sample of 25 restaurants with a mean weekly cost of Rs. 3,050
•	Number of units produced in a week (X) follows a normal distribution with a mean (μ) of 600 units and a standard deviation (σ) of 25 units


Hypotheses statement
1. Null Hypothesis: Observed weekly operated cost  is less than or equal to sample mean weekly cost(No action)
2. Alternative Hypothesis: Observed weekly operated cost is greater than sample mean weekly cost(Action)

*   H0: mu <= 3050
*   H1: mu > 3050

•	ˉxˉ = sample mean weekly cost (Rs. 3,050)
•	μ = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units)= 4000
•	σ = 5*25 units= 125
•	n = sample size (25 restaurants)

In [ ]:

from scipy import stats

In [ ]:
a=0.05
n=25
mu=4000
xbar=3050
sigma=125

In [ ]:
z=(xbar-mu)/(sigma/np.sqrt(n))
print(z)

-38.0

In [ ]:
p=stats.norm.cdf(z)
print(p)

0.0

In [ ]:
α = 0.05
if p>α:
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

Reject Null Hypothesis

Observed weekly operated cost is greater than the sample mean weekly cost. Therefore action is needed##